<header class="header-pesca">
  <div class="olas"></div>
  <nav class="nav-container">
    <div class="logo">
      <img src="assets/logopagina.png" alt="Logo Pescador">
      <h1>El Rincón del Pescador</h1>
    </div>
    <ul class="nav-links">
      <li><a href="#" class="nav-link">Inicio</a></li>
      <li><a href="#" class="nav-link">Galería</a></li>
      <li><a href="#" class="nav-link">Clima y Predicciones</a></li>
      <li><a href="#" class="nav-link">Sitios de Pesca</a></li>
    </ul>
  </nav>
</header>
