<div @fade>
    <header class="inicio">
        <div class="logo">
            <img src="/images.png">
        </div>
    
        <div class="titulo">
            <h1>Portal Administrativo Tecnica 16</h1>
        </div>
    </header>
    
    <div class="botones">
        <a class="button-31" routerLink="./AdminWeb">
            Administrar Pagina Web
        </a>
        <a class="button-31" routerLink="./AdminEscolar">
            Administrar Estructura Escolar
        </a>
        <a class="button-31" routerLink="./AdminAlumnos">
            Alumnos y Familias
        </a>
        <a class="button-31" routerLink="./AdminAsistencia">
            Reportes de asistencia
        </a>
        <a class="button-31" (click)="cerrarSesion()">
            Cerrar sesion
        </a>
    </div>
</div>

<div class="margen" @fade>
    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
</div>